.bericht {
    width: 1000px;
    background-color: lightblue;
}

.left_image {
    float: left;
    border: 2px black solid;
    margin: 10px;
}

.right_image {
    float: right;
    border: 2px black solid;
    margin: 5px;

}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}